<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <title>Добавление игрока</title>
    </head>
    <body>
        <form action="{{ url_for('addPlayer')}}" method="post"> 
            <h1>Введите данные игрока</h1>
            <input class="form-control" type="text" name="firstname" placeholder="Имя"><br>
            <input class="form-control" type="text" name="secondname" placeholder="Фамилия"><br>
            <input class="form-control" type="text" name="patronname" placeholder="Отчество/Матчество"><br>
            <input class="form-control" type="text" name="birthdate" placeholder="Дата рождения - yyyy-mm-dd"><br>
            <input class="form-control" type="text" name="teamname" placeholder="Название команды"><br>
            <button class="btn btn-primary">Добавить</button><br><br>
        </form>
        <form action="{{ url_for('index')}}">
            <button class="btn btn-primary">Назад</button>
        </form>
    </body>
</html>